<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap Css/Js-->
    <script src="../static/Vendor/bootstrap-5.3.0-alpha1-dist/bootstrap-5.3.0-alpha1-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/Vendor/bootstrap-5.3.0-alpha1-dist/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css">
    <!--JQuery-->
    <script src="../static/Vendor/jquery-3.6.4/jquery-3.6.4.min.js"></script>
    <!--Icon Kütüphanesi-->
    <script src="../static/Vendor/fontawesome-free-6.3.0-web/fontawesome-free-6.3.0-web/js/all.js"></script>
    <link rel="icon" href="../static/Vendor/fontawesome-free-6.3.0-web/fontawesome-free-6.3.0-web/css/all.css">
    <!--Özel Css/Js-->
    <script src="../static/js.js"></script>
    <link rel="stylesheet" href="../static/style.css">

    <title>Taslak</title>
</head>
<body class="body overflow-x-hidden"
    style="background-image: url('../static/image/valfsan-arkaplan.png'); background-repeat: no-repeat; background-attachment:local;">

    <!--Logo-->

    <div class="container mt-5 mb-5 ">
        <div class="row">
            <div class="logo-div">
                <img src="../static/image/valfsan_logo2.png" class="valfsan-logo img-fluid">
            </div>
        </div>
    </div>

    <!--Yonetim-->

    <div class="container">
        <div class="row">

            <div class="talimat-div">

                <h4 class="mt-3">Pres 1 Kullanıcı Paneli</h4>

                <!--Parçalar-->

                <form style="font-weight: bold; font-size: 20px;" class="mt-5">
                    <input type="radio" id="vehicle1" name="vehicle1" value="1">
                    <label for="vehicle1"> Mesai Başlat</label><br>
                    <input type="radio" id="vehicle2" name="vehicle2" value="2">
                    <label for="vehicle2"> Mesai Duraklat</label><br>
                    <input type="radio" id="vehicle3" name="vehicle5" value="5">
                    <label for="vehicle3"> Mesai Bitir</label>
                  </form>
                  <br><br>
                  <a href="mesai-duraklat.html"><button type="button" class="btn btn-success">Onayla</button></a>
                  

            </div>

        </div>
    </div>


</body>
</html>